<div class="icon-sapwfm" data-sapwfm-workerid="<%= data.VAR_SICIL.trim()%>" data-worker-name="<%= data.VAR_ADI_SOYAD.split(" _")[0].trim()%>">
    <img src="../../svg/sapwfm.svg" data-sapwfm-workerid="<%= data.VAR_SICIL.trim()%>">
</div>
<div class="sapwfm-summary-info" data-sapwfm-workerid="<%= data.VAR_SICIL.trim()%>">
    <div class="sapwfm-summary-info-totalsapwfm" data-sapwfm-workerid="<%= data.VAR_SICIL.trim()%>">
       SAP
    </div>
</div>